/* styles */

/* css configure */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---- global ---*/
.global-aligments{
    display: flex ;
    align-items: center;
    justify-content: center;
}
.global-aligments-withouflex{
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.title {
  align-items: center;
  justify-items: center;
 }

/*--font --*/
.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }
  .belanosima-regular {
    font-family: "Belanosima", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .belanosima-semibold {
    font-family: "Belanosima", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .belanosima-bold {
    font-family: "Belanosima", serif;
    font-weight: 700;
    font-style: normal;
  }

.bitter- {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
  
  

/*---- header ----*/
header{
    height: 100px;
    width: 100%;
}
.header-aligments{
    padding-top: 30px;
}
.header-aligments h1{
    font-family: Bitter;
}

/* -----body------ */
body{
    font-family:  Bitter;
}

/* ---- banners ---- */
#banner-principal {
    height: 650px;
    width: 100%;
}

/*----introducion---- */

 .introducion {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        width: 100%;
        border-top: solid;
        padding-top: 30px;
 }
 .text {
   border-top: solid;
   border-bottom: solid;
    height: 200px;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 800PX;

 }
 /*----Personal tastes---- */
 .tastes{
  border-bottom: solid;
  padding-bottom: 20px;
 }
 .personal-taste{
  padding-top: 30px;
 }

.description{
  align-items: center;
  justify-items: center;
  padding-left: 155px;
}
.img-favores{
    height: 200px;
    width: 200px;
}
  /* favore movie */
.movie{
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  }

  /*favore color */
.favore-color{
  padding-right: 20px;
  padding-left: 20px;
  gap:50px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
/* favore food */
.favore-food{
  align-items: center;
  display: flex;
  gap: 20px;
  padding-right: 20px;
}
/* favore song */
.favore-song {
  padding-top: 30px;
  align-items: center;
  justify-items: center;
  border-bottom: solid,1px;
}
.favore-song .subtitles {
  padding-bottom: 30px;

}
/*----My family---- */
.my-family{
  padding-top: 30px;
  gap: 30px;
  padding-bottom: 40px;
}
.my-family img{
  height: 300px;
  width: 300px;
}
.family-pictures{
  gap: 20px;
}
.my-family .title{
  padding-bottom: 40px;
}
/*----footer---- */
footer {
  background-color: black;
  color: white;
  height: 150px;
  justify-items: center;
  align-content: center;
}
